<h1 class="center">The Restaurant</h1>
<div class="center card blue-grey">
  <div class="card-content white-text">
    <h3>Create A New Order</h3>
    <a href="/menu/new" class="btn">Order Online</a>
  </div>
</div>
<div class="center card blue-grey">
  <div class="card-content white-text">
    <h3>View Order</h3>
    <a href="/menu" class="btn">View Order</a>
  </div>
</div>

