<h1 class="center">Start a New Order</h1>
<form method="POST" action="/apps">
  <div class="input-field">
    <input id="title" name="title" required />
    <label class="active" for="title">Name</label>
  </div>
  <div class="input-field">
    <textarea 
      class="materialize-textarea" 
      id="desc"
      required
      name="description"
    >
    </textarea>
    <label for="desc" class="active">Enter your order instructions here</label>
  </div>
  <button class="btn right">send</button>
</form>
